.navbar {
	margin-bottom:  !important;
	padding-bottom: 0px !important;
}

.jumbo-text {
	text-align: center;
}

#custom-jumbo>.container {
	padding-top: 48px;
	
}

#map {
	height:300px;
	width: 100%;
	margin:auto;
}
.about-icons {
	width:50%;
	margin:auto;
	margin-bottom: 30px;
}

.subtitle {
	margin-bottom: 40px;
}

.team-photos {
	border-radius: 50%;
	width:30%;
	margin:auto;
	margin-bottom: 30px;
}

img + h4 {
	text-align: center;
}
